body{
  background-color:azure;
}
.App {
  background-color: aqua;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10rem;
  padding: 10px;
  border-radius: 10px;
  height: 10rem;
  
}
.fromcurrency{
  margin-left: 20px;
}

.amount{
  margin-left: 10px;
}
.tocurrency{
  margin-left: 10px;
}